@{
    ViewData["Title"] = "Transactions";
}

@model IEnumerable<BudgetMvcApp.Models.Transaction>

<h1 class="text-center">Transactions</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        
            <td>
                <a asp-controller="Expense" asp-action="Create">Add Expense</a>
                <a asp-controller="Expense" asp-action="Index" asp-route-id="@item.Id" >View Expenses</a>
                <a asp-controller="Transaction" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
