@{
    ViewData["Title"] = "Transactions";
}

@model IEnumerable<BudgetMvcApp.Models.Transaction>

<h1 class="text-center">Transactions</h1>

<p>
    <a asp-action="Crete">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        
            <td>
                <a asp-controller="Expense" asp-action="Create" asp-route-id="@item.Id">Add Expense</a>
            </td>
        </tr>
}
    </tbody>
</table>
